body {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}

#rgb {
  position: absolute;
  top: 50vh;
  width: 100vw;
  transform: translateY(-50%);
  font-family: times new roman;
  /* margin-top: 40vh; */
  color: white;
  text-align: center;
  font-size: 10vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.growing-widescreen {
  animation-name: grow-wide;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.growing-tallscreen {
  animation-name: grow-tall;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

/* .growing-tallscreen #pos-text {
  animation-name: grow-in-tall;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.growing-widescreen #pos-text {
  animation-name: grow-in-wide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
} */

@keyframes grow-wide {
  0% {
    /* height: 0; */
    /* width: 0; */
    transform: translate(-50%, -50%) scale(0.01);
    opacity: 1;
  }

  60% {
    /* height: 280vw; */
    /* width: 280vw; */
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes grow-tall {
  0% {
    /* height: 0; */
    /* width: 0; */
    transform: translate(-50%, -50%) scale(0.01);
    opacity: 1;
  }

  60% {
    /* height: 280vh; */
    /* width: 280vh; */
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* @keyframes grow-in-wide {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  60% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes grow-in-tall {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  60% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */